
PCA_Lorenz
PCA_BeyerTmp
PCA_Beyer
PCA on Environmental Data
all BIEN data
.RData
.RData
05 - Modeling Workspace - Frax_Penn Model Output
04 - Modeling Workspace - Clipping Fraxinus pennsylvanica
.RData
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana
workspaces/04 - Modeling Workspace - Clipping Fraxinus caroliniana
workspaces/04 - Modeling Workspace - Clipping Fraxinus greggii
workspaces/04 - Modeling Workspace - Clipping Fraxinus cuspidata
workspaces/04 - Modeling Workspace - Clipping Fraxinus nigra
workspaces/04 - Modeling Workspace - Clipping Fraxinus profunda
workspaces/04 - Modeling Workspace - Clipping Fraxinus quadrangulata
workspaces/05 - Modeling Workspace - Frax_Amer Model Output
workspaces/05 - Modeling Workspace - Frax_Caro Model Output
workspaces/05 - Modeling Workspace - Frax_Cusp Model Output
workspaces/05 - Modeling Workspace - Frax_Greg Model Output
workspaces/05 - Modeling Workspace - Frax_Nigr Model Output
workspaces/05 - Modeling Workspace - Frax_Prof Model Output
workspaces/05 - Modeling Workspace - Frax_Quad Model Output
.RData
.RData
workspaces/06 - Projections ENM Frax_Greg
workspaces/06 - Projections ENM Frax_Amer
workspaces/06 - Projections ENM Frax_Caro
workspaces/06 - Projections ENM Frax_Cusp
workspaces/06 - Projections ENM Frax_Nigr
workspaces/06 - Projections ENM Frax_Penn
workspaces/06 - Projections ENM Frax_Prof
workspaces/06 - Projections ENM Frax_Quad
RData
PCA_Lorenz_ccsm_PC5
PCA_Lorenz_ecbilt_PC5
PCA_Beyer_PC5
04 - Modeling Workspace - Clipping Fraxinus americana
data_and_analyses/env_data/Beyer/Beyer_PCA.R
data_and_analyses/env_data/Beyer/Beyer_PCA.R
data_and_analyses/env_data/Beyer/LateQuaternary_Environment.nc
workspaces/04 - Modeling Workspace - Clipping Fraxinus americanaTmp
data_and_analyses/env_data/Beyer/Beyer_PCA.R
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Prof Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Penn Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Nigr Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Lati Model Output - PC5_GCM_BeyerTmp
workspaces/05 - Modeling Workspace - Frax_Greg Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Cusp Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Caro Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Anom Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Anom Model Output - PC5
workspaces/05 - Modeling Workspace - Frax_Amer Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Amer Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Amer Model Output - PC5
workspaces/04 - Modeling Workspace - Clipping Fraxinus quadrangulata_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus profunda_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus pennsylvanica_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus nigra_PC_5_GCM_BeyerTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus latifolia_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus greggii_PC_5_GCM_BeyerTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus cuspidata_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus caroliniana_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus anomalaTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus anomala_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus americanaTmp1
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana_PC_5_GCM_Beyer
workspaces/03 - Modeling Workspace - FraxAmer Cleaning
workspaces/03 - Modeling Workspace - FraxCaro Cleaning
workspaces/03 - Modeling Workspace - FraxCusp Cleaning
workspaces/03 - Modeling Workspace - FraxGreg Cleaning
workspaces/03 - Modeling Workspace - FraxNigr Cleaning
workspaces/03 - Modeling Workspace - FraxPenn Cleaning
workspaces/03 - Modeling Workspace - FraxProf Cleaning
workspaces/03 - Modeling Workspace - FraxQuad Cleaning
workspaces/04 - Modeling Workspace - Clipping Fraxinus anomala_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus caroliniana_PC_5_GCM_Lorenz_ccsmTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus cuspidata_PC_5_GCM_Lorenz_ccsmTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus greggii_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus latifolia_PC_5_GCM_Lorenz_ccsmTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus nigra_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus pennsylvanica_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus profunda_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus quadrangulata_PC_5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Anom Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Caro Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Cusp Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Greg Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Lati Model Output - PC5_GCM_Beyer
workspaces/05 - Modeling Workspace - Frax_Lati Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Nigr Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Penn Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Prof Model Output - PC5_GCM_Lorenz_ccsm
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_BeyerTmp
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana_PC_5_GCM_BeyerTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus americana_PC_5_GCM_Lorenz_ccsmTmp
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_ecbiltTmp
workspaces/05 - Modeling Workspace - Frax_Quad Model Output - PC5_GCM_Lorenz_ccsmTmp
workspaces/06 - Beyer Projections
workspaces/06 - ecbilt Projections
workspaces/06 - Lorenz_ccsm Projections
workspaces/PCA_ecbilt_PC5
workspaces/05 - Modeling Workspace - Frax_Prof Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Penn Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Nigr Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Greg Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Cusp Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Caro Model Output - PC5_GCM_ecbilt
workspaces/05 - Modeling Workspace - Frax_Amer Model Output - PC5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus quadrangulata_PC_5_GCM_BeyerTmp
workspaces/04 - Modeling Workspace - Clipping Fraxinus profunda_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus pennsylvanica_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus nigra_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus nigra_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus greggii_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus greggii_PC_5_GCM_Beyer
workspaces/04 - Modeling Workspace - Clipping Fraxinus cuspidata_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus cuspidata_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus caroliniana_PC_5_GCM_Lorenz_ccsm
workspaces/04 - Modeling Workspace - Clipping Fraxinus caroliniana_PC_5_GCM_ecbilt
workspaces/04 - Modeling Workspace - Clipping Fraxinus quadrangulata_PC_5_GCM_ecbilt
